#trainers {
    height: 500px;
}

#left-image {
    width: 33%;
    float: left;
    background-color:aquamarine;
    padding-top: 10px;
}


#right-image {
    width: 33%;
    float: right;
    background-color: blueviolet;
    padding-top: 25px;
}

#center-image {
    width: 33%;
    margin: 0 auto;
    background-color: coral;
    padding-top: 25px;
}
.first-trainer {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 50%;
    margin: 0 auto;
}
#first-trainer-image {
    background: url(../css/images);
}
h2 {
    text-align: center;
    font-size: 28px;
    border-bottom: 1px solid palevioletred;
    border-width: 33%;
    
}
h3 {
    text-align: center;
}
.first-text {
    margin-left: 100px;
    margin-right: 100px;
}
